

body {
  background-color: white;
  font-family: Helvetica, Arial, sans-serif;
  background-image: url("http://www.hdwallpapersphoto.com/wallpapers/Winter_Olympics_2014_in_Sochi__hot__winter__your_047477_.jpg");
  background-position: fixed;
  background-size: cover;
}

#page {
  margin: 0 auto; /* This centers the #page div horizontally */
  width: 700px;
}

#page nav {
  margin: 20px 0;
}

#page nav ul {
  list-style: none; /* This gets rid of the left-hand-side dots */
  margin: 0;
  padding: 0;
}

#page nav li {
  display: inline-block; /* This makes the list display left-to-right rather than top-to-bottom */
  margin-right: 10px;
}

.post-form textarea {
  width: 700px;
  min-height: 100px;
}

#content {
  font
}

h2 {
  color: blue;
  font-family: palatino;
  font-size: 25px;
}

#output {
  color:green;
}
